---
import Button from './Button.astro'
import Button2 from "../components/Button2.astro";
const { name, info, info2, info3, money, style, button, href } = Astro.props;

const stylecolor={
  red:"bg-red-200 text-red-800 ",
  blue:"bg-blue-200 text-blue-900",
  orange:"bg-orange-400 text-orange-800",
  sennep:"bg-sennep-300 text-sennep-900"
}
---
<div class={`${stylecolor[style]} min-w-[0] md:min-w-[600px]`}>
<div class=" flex items-center pt-s pb-s pr-s gap-m md:gap-4xl">
    <img class="h-[120px] md:h-[250px]" src="public/solhalv.png" alt="halv sol"> 
    <div class="flex flex-col justify-end items-start">
        <div class="font-bold md:flex md:justify-items-between gap-x-[16px] md:gap-x-xl flex-wrap items-center">
      <h1 class="font-grotesk text-s md:text-l">{name}</h1>
        <p class="pt-2 pb-2 font-roboto md:text-m">18 - 19 - 20 Juli</p>
    </div>
    <div class="md:flex md:justify-between md:items-end">
      <div class=" font-roboto flex flex-col gap-xs max-w-[32ch] md:max-w-[25ch]">
       <p >{info}</p>
       <p >{info2}</p>
       <p >{info3}</p>
      </div>
       <p class="pt-2 md:pt-0 font-roboto font-bold text-xs md:text-m">{money}</p>
    </div>
 <div class="flex items-center pt-s">
 <a href={href} class="hidden md:block"><Button2 variant="secondary">{button}</Button></a>
 <div class="md:hidden"><Button2 size="small">{button}</Button></div>
</div>
    </div>
</div>
</div>